.form_wrapper{
    width: 35%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border:0;
    box-shadow:0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: 441px) {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    @media (min-width: 442px) and (max-width: 767px) {
        width: 70%;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        width: 50%;
    }
}


